<!--
   <div class="well well-lg well-sidebar">
    <div class="username">Ash Bhimasani<br>16abhimasani@gmail.com</div>
  </div>

  <div class="well well-sidebar2">
      <span class="status">Status: Verified</span>
  </div>
-->    
  <ul class="nav nav-sidebar">
      <li><a href="#">Ash Bhimasani<br>16abhimasani@gmail.com</a></li>
      <li><a href="#">Status: Verified</a></li>

    <li><a href="#"><span class="glyphicon glyphicon-tasks" aria-hidden="true">&nbsp;</span>Overview</a></li>
    <li class="active"><a href="#"><span class="glyphicon glyphicon-align-left" aria-hidden="true">&nbsp;</span>Payments <span class="sr-only">(current)</span></a></li>
    <li><a href="#"><span class="glyphicon glyphicon-wrench" aria-hidden="true">&nbsp;</span>ToolBox</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true">&nbsp;</span>Settings</a></li>
  </ul>
  