
<h1>Payments</h1>
<div class="tab-bar">
  <div class="tab active" (click)="onTabSelect('All')">All Invoices</div>
  <div class="tab" (click)="onTabSelect('Paid')">Paid</div>
  <div class="tab" (click)="onTabSelect('Refunded')">Refunded</div>
</div>
<h2>{{paymentMonth}}</h2>
<table>
  <thead>
    <tr>
      <th>Transaction</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Time Stamp</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let txn  of tabPayments" @enterLeave>
        <td>{{ txn.id }}</td>
        <td> {{ txn.amount }}</td>
        <td><span [className]="'status_' + txn.status">{{ txn.status }}</span></td>
        <td> {{ txn.date }}</td>
      </tr>
  </tbody>
</table>
