
<h1>Payments</h1>
<div class="tab-bar">
  <div class="tab active">All Invoices</div>
  <div class="tab">Paid</div>
  <div class="tab">Refunded</div>
</div>
<h2>February 2019</h2>
<table>
  <thead>
    <tr>
      <th>Transaction</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Time Stamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Invoice XNj1LmZrgKQCAH3r1ZETqm</td>
      <td>$100.00 USD</td>
      <td><span class="status_paid">PAID</span></td>
      <td>Today, 2:59pm</td>
    </tr>
    <tr>
      <td>Invoice XNj1LmZrgKQCAH3r1ZETqm</td>
      <td>$100.00 USD</td>
      <td><span class="status_paid">PAID</span></td>
      <td>Today, 2:59pm</td>
    </tr>
    <tr>
      <td>Invoice XNj1LmZrgKQCAH3r1ZETqm</td>
      <td>$100.00 USD</td>
      <td><span class="status_paid">PAID</span></td>
      <td>Today, 2:59pm</td>
    </tr>
    <tr>
      <td>Invoice XNj1LmZrgKQCAH3r1ZETqm</td>
      <td>$100.00 USD</td>
      <td><span class="status_pending">PENDING</span></td>
      <td>Today, 2:59pm</td>
    </tr>
    <tr>
      <td>Invoice XNj1LmZrgKQCAH3r1ZETqm</td>
      <td>$100.00 USD</td>
      <td><span class="status_refunded">REFUNDED</span></td>
      <td>Today, 2:59pm</td>
    </tr>  </tbody>
</table>
